<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Create New Post</h3>
   </div>
   <div class="panel-body">
      <div id="my_camera" style="width:640px; height:480px;"></div>
      <div id="my_result" style="width:640px; height:480px; display:none;"></div>
      <div id="snap" class="btn btn-primary">Snap!</div>
      <div id="cancel" class="btn btn-danger">Retake</div>
      <%= render 'form' %>
   </div>
</div>
